/* VARIABLES
// ------------------------- */
/* GENERAL
// ------------------------- */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #565A5C; }

.aisdemo--left-column {
  height: 400px; }

.aisdemo--right-column {
  padding-right: 0;
  padding-left: 0; }

/* HEADER
// ------------------------- */
.aisdemo-navbar {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #DCE0E0;
  position: relative; }
.aisdemo-navbar .logo {
  display: inline-block;
  padding: 14px 22px;
  font-size: 40px;
  line-height: 1;
  font-family: Courier;
  color: #FF585B;
  border-right: 1px solid #DCE0E0; }
.aisdemo-navbar .fa-search {
  font-size: 30px;
  position: absolute;
  top: 20px;
  left: 100px;
  color: #DCE0E0; }
.aisdemo-navbar .ais-input {
  position: absolute;
  top: 21px;
  left: 140px;
  width: 50%;
  border: 0;
  font-size: 21px;
  box-shadow: none; }
.aisdemo-navbar .ais-input:focus {
  outline: none;
  box-shadow: none; }

/* FILTERS
// ------------------------- */
.aisdemo-filters .aisdemo-filter {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #DCE0E0; }
.aisdemo-filters .aisdemo-filter-title {
  font-size: 1em;
  font-weight: normal;
  padding-top: 9px;
  padding-left: 30px; }
.aisdemo-filters #room_types .ais-refinement-list__count {
  display: none; }
.aisdemo-filters #room_types .ais-refinement-list__item {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flaot: left;
  width: 25%;
  display: inline-block;
  cursor: pointer; }
.aisdemo-filters #room_types .ais-refinement-list__item label {
  font-size: .8em;
  font-weight: normal;
  box-sizing: border-box;
  width: 100%;
  padding: 9px 10px 7px;
  background: #EDEFED; }
.aisdemo-filters #room_types input[type=checkbox] {
  position: relative;
  bottom: 3px;
  float: right;
  width: 1.25em;
  height: 1.25em;
  margin-left: 20px;
  vertical-align: top;
  border: 1px solid #DCE0E0;
  background: #FFFFFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
.aisdemo-filters #room_types input[type=checkbox]:focus {
  outline: none; }
.aisdemo-filters #room_types .ais-refinement-list__item--active input[type=checkbox]:before {
  font-size: .85em;
  position: absolute;
  width: 1.25em;
  content: '\2713';
  text-align: center;
  color: #FF5A5F; }
.aisdemo-filters #price .ais-range-slider__target {
  margin: 30px 9px 18px; }
.aisdemo-filters #price .ais-range-slider__handle {
  border-color: #FF585B; }
.aisdemo-filters #price .ais-range-slider__handle-lower {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
.aisdemo-filters #price .ais-range-slider__handle-upper {
  -webkit-transform: translateX(50%);
  transform: translateX(50%); }
.aisdemo-filters #price .ais-range-slider__tooltip:last-child {
  right: 0; }
.aisdemo-filters #price .ais-range-slider__connect {
  background-color: #FF585B; }

/* STATS
// ------------------------- */
#stats {
  font-size: 1em;
  font-weight: normal;
  position: absolute;
  bottom: 0;
  padding: 5px 15px; }

/* MAP
// ------------------------- */
//#map {
//  height: 400px; }

/* RESULTS
// ------------------------- */
#results {
  padding: 40px 20px;
  background: #EDEFED; }

#hits .hit .pictures-wrapper {
  position: relative; }
#hits .hit .pictures-wrapper .picture {
  width: 100%; }
#hits .hit .pictures-wrapper .profile {
  position: absolute;
  bottom: -16px;
  right: 12px;
  width: 60px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px; }
#hits .hit .infos {
  height: 90px;
  padding: 16px 20px; }
#hits .hit .infos h4 {
  font-size: 1em;
  font-weight: normal; }
#hits .hit .infos p {
  font-size: .8em;
  color: #949697; }
#hits .hit .infos em {
  font-style: normal;
  color: #FF585B; }

/* PAGINATION
// ------------------------- */
#pagination {
  text-align: center; }
#pagination .ais-pagination__item {
  display: inline-block;
  margin: 1px; }
#pagination .ais-pagination__link {
  color: #FF585B;
  border-radius: 4px;
  background: transparent; }
#pagination .pagination > .ais-pagination__item--active > a {
  color: #FFFFFF;
  border-color: #FF585B;
  background: #FF585B; }
#pagination .pagination > li > a:focus, #pagination .pagination > li > a:hover, #pagination .pagination > li > span:focus, #pagination .pagination > li > span:hover {
  color: #FFFFFF;
  border-color: #FF585B;
  background: #FF585B; }

.thank-you {
  text-align: center;
  font-size: .8em; }
.thank-you a {
  color: #FF585B; }







.ais-price-range__input {
  width: 64px;
}
